html 
body { margin: 0px; width: 100%; height: 100%;
    font-family: 'Montserrat', sans-serif;
 }
header { width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
background-image: url("full_page_01.png");

}
body, html { height: 100%;
    background-image: url("layer.png");
}

div 
{ 
    margin-left: 500px;

}
.header
{ margin-top: 300px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
 }
.container { margin: 0px;
 font-size: 14px;
 text-align: center;
  
   }
.navigation {
    margin-left: 100px;
    border-bottom: 3px solid orange;
    max-width: 1000px;
}

h1 { color: white;
 font-family: 'Montserrat', sans-serif;
 background-color: rgba(0, 0, 0, 0.4);
 font-size: 40px;
 padding: 20px;
 width: 680px;
 height: 100px;
 border-style: solid; 
 border-width:thin; 
 border-color: white;
 box-sizing: border-box;
}

h2 { color: white;
	font-family: 'Montserrat', sans-serif;;
    font-size: 38px;
    font-weight: bold;
    margin: 0px; 
}
span { color: orange; 
	font-family: 'Montserrat', sans-serif;
}
.navig { font-weight: bolder;
    font-size: 25px;
    margin-right: 150px;
    margin-left: 20px;
}

p { color: white;
font-family: 'Montserrat', sans-serif;
    font-size: 12px; 
}
.container { 
color: black;
 }

h3 { text-align: center; 
    font-size: 20px;
 }
hr { margin-top: 40px;
    background-color: orange;
 width: 60px;
 height: 3px; 
border: none; }
h4 { color: orange;
font-size: 20px;
margin-right: 0px; }
 ul li { display: inline-block;
 margin-left: 30px;
 margin-right: 30px;
 }

a {color: grey;
    text-decoration: none;
 }
 
 img {
    margin-top: 20px;
 }
